ejemplosFront/Web References/ejemploWS/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="obtenerPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cuil" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerPersonaResult" type="tns:ArrayOfPersona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Persona" nillable="true" type="tns:Persona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cuil" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoYNombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaNacimiento" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarPorNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPorNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPorNombreResult" type="tns:ArrayOfPersona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="personaAlta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nuevo" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="personaAltaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="personaAltaResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerPersona" />
  </wsdl:message>
  <wsdl:message name="obtenerPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarPorNombreSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPorNombre" />
  </wsdl:message>
  <wsdl:message name="BuscarPorNombreSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="personaAltaSoapIn">
    <wsdl:part name="parameters" element="tns:personaAlta" />
  </wsdl:message>
  <wsdl:message name="personaAltaSoapOut">
    <wsdl:part name="parameters" element="tns:personaAltaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="obtenerPersona">
      <wsdl:input message="tns:obtenerPersonaSoapIn" />
      <wsdl:output message="tns:obtenerPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorNombre">
      <wsdl:input message="tns:BuscarPorNombreSoapIn" />
      <wsdl:output message="tns:BuscarPorNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="personaAlta">
      <wsdl:input message="tns:personaAltaSoapIn" />
      <wsdl:output message="tns:personaAltaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerPersona">
      <soap:operation soapAction="http://tempuri.org/obtenerPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorNombre">
      <soap:operation soapAction="http://tempuri.org/BuscarPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="personaAlta">
      <soap:operation soapAction="http://tempuri.org/personaAlta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerPersona">
      <soap12:operation soapAction="http://tempuri.org/obtenerPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorNombre">
      <soap12:operation soapAction="http://tempuri.org/BuscarPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="personaAlta">
      <soap12:operation soapAction="http://tempuri.org/personaAlta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:55827/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:55827/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>